@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Primary */
  --color-app-primary: var(--color-primary);

  /* Success */
  --color-app-success: var(--color-success);
  --color-app-success-dark: var(--color-success-dark);
  --color-app-success-medium: var(--color-success-medium);
  --color-app-success-light: var(--color-success-light);
  --color-app-success-background: var(--color-success-background);

  /* Error */
  --color-app-error: var(--color-error);
  --color-app-error-dark: var(--color-error-dark);
  --color-app-error-bright: var(--color-error-bright);
  --color-app-error-light: var(--color-error-light);
  --color-app-error-background: var(--color-error-background);
  --color-app-error-transparent: var(--color-error-transparent);

  /* Warning */
  --color-app-warning: var(--color-warning);
  --color-app-warning-dark: var(--color-warning-dark);
  --color-app-warning-medium: var(--color-warning-medium);
  --color-app-warning-light: var(--color-warning-light);
  --color-app-warning-background: var(--color-warning-background);

  /* Info */
  --color-app-info: var(--color-info);
  --color-app-info-dark: var(--color-info-dark);
  --color-app-info-muted: var(--color-info-muted);
  --color-app-info-light: var(--color-info-light);

  /* Neutral */
  --color-app-neutral-dark: var(--color-neutral-dark);
  --color-app-neutral: var(--color-neutral);
  --color-app-neutral-light: var(--color-neutral-light);

  /* Accent */
  --color-app-accent-peach: var(--color-accent-peach);
  --color-app-accent-orange: var(--color-accent-orange);

  /* Shadcn  */
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  /* Primary */
  --color-primary: #161c36;

  /* Success */
  --color-success: #51e247cc;
  --color-success-dark: #378666;
  --color-success-medium: #4b9876;
  --color-success-light: #e6f6ec;
  --color-success-background: #ecf9f0;

  /* Error */
  --color-error: #e80000cc;
  --color-error-dark: #d14e1f;
  --color-error-bright: #f83c3c;
  --color-error-light: #fce8ea;
  --color-error-background: #fce8eb;
  --color-error-transparent: #ff000980;

  /* Warning */
  --color-warning: #eaa360;
  --color-warning-dark: #dc8540;
  --color-warning-medium: #e48a4b;
  --color-warning-light: #fef1e8;
  --color-warning-background: #feedde0;

  /* Info */
  --color-info: #6380ce;
  --color-info-dark: #2841b1;
  --color-info-muted: #687ea0;
  --color-info-light: #e7ecfc;

  /* Neutral */
  --color-neutral-dark: #5e6061;
  --color-neutral: #d8d8d8;
  --color-neutral-light: #f2f2f2;

  /* Accent */
  --color-accent-peach: #ef8b70;
  --color-accent-orange: #f8ae5d;

  /* Shadcn */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
}
